fastapi
uvicorn
pydantic
pydantic-settings
email-validator
motor
python-dotenv
python-multipart
passlib[bcrypt]
python-jose[cryptography]
google-auth
google-auth-oauthlib
httpx
pandas
numpy
scikit-learn
pytest
jinja2
pickle5 ; python_version < "3.8"
